.container {
  position: relative;
  text-align: center;
  width: 700px;
  height: 5rem;
}

.container section {
  min-width: 700px;
  min-height: 200px;
  max-height: 250px;
  margin-top: 4rem;
}

.links {
  margin: 1rem auto;
  list-style: none;
}

.links li {
  display: inline;
}

.actions a {
  text-align: center;
  text-decoration: none;
  max-height: 1rem;
  color: inherit;
}

.actions :hover {
  scale: 1.2;
}
