.container {
  position: absolute;
  text-align: center;
  width: 50rem;
  height: 40rem;
  margin: auto;
  top: 10rem;
  left: 30vw;
  background-color: #434f5f;
  border-radius: 8px;
}

.container section {
  max-height: 250px;
  margin-top: 4rem;
}

.container article {
  padding: 2rem;
}

.links {
  margin: 1rem auto;
  list-style: none;
  padding: 2rem;
}

.links li {
  display: inline;
}

.actions a {
  text-align: center;
  text-decoration: none;
  max-height: 1rem;
  color: inherit;
}

.actions :hover {
  scale: 1.2;
}
