.container {
  grid-area: data;
  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: center;
  align-content: center;
  max-width: clamp(40rem, 60rem, 100rem);
  margin: auto;

  background-color: #434f5f;
  padding-top: 5rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;

  border-radius: 12px;
}

.actions {
  display: flex;

  justify-content: space-evenly;
  margin-bottom: 2rem;
}

article {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

img {
  vertical-align: bottom;
  object-fit: contain;
}

.back a {
  display: inline-block;
}

.back img {
  height: 3rem;
}

.back :hover,
.actions a :hover {
  scale: 1.35;
  opacity: 0.6;
  transition: scale 0.5s ease-out;
}
