.navBar {
  background-color: rgb(81, 30, 67);

  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  margin: 0;
  position: fixed;
  text-align: center;
}

.navBar ul {
  list-style: none;
}

.navBar li {
  display: inline;
}

.navBar a {
  font-size: 2rem;
  text-decoration: none;
  background-color: rgb(17, 24, 159);
  margin: 1px;
  border: 1px;
  padding: 6px;
  color: coral;
}
