.navBar {
  background-image: radial-gradient(
    rgb(72, 103, 103) 5%,
    teal 15%,
    rgba(37, 40, 100, 0.5)
  );

  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  margin: 0;
  position: absolute;
  text-align: center;
  z-index: 10;
}

.navBar ul {
  list-style: none;
  position: relative;
  top: 1.5rem;
}

.navBar li {
  position: relative;
  display: inline;
  margin-right: 1rem;
}

.navBar li :hover {
  transition: 0.6s;
  background-color: rgb(170, 20, 158);
  opacity: 0.6;
}
.navBar a {
  font-size: 2rem;
  text-decoration: none;
  background-color: rgb(37, 40, 100);

  margin: 1px;
  border: 1px;
  padding: 6px;
  border-radius: 4px;
  color: coral;
}
