.header {
  background-image: radial-gradient(
    rgb(72, 103, 103) 5%,
    teal 15%,
    rgba(37, 40, 100, 0.5)
  );

  top: 0;
  left: 0;
  right: 0;
  height: 8rem;

  margin: 0;
  position: fixed;
  text-align: center;
  z-index: 100;
}

.header nav {
  padding-top: 1.5rem;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.header li :hover {
  transition: 0.6s;
  background-color: rgb(170, 20, 158);
  opacity: 0.6;
}
.header a {
  font-weight: 500;
  font-size: 2rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: rgb(37, 40, 100);

  margin: 1px;
  border: 1px;
  padding: 6px;
  border-radius: 4px;
  color: coral;
}

@media (max-width: 420px) {
  .header a {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
  }
}
