.posts {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: 15%;
}
.container {
  max-width: 40rem;
  margin: 2rem auto;
  position: relative;
}

.auxContent {
  position: relative;
  top: 10rem;
  text-align: center;
}
