.card {
  position: absolute;
  right: 10rem;
}

.actions {
  background-color: transparent;
  border: 0;
  margin: 0.5rem;
  padding: 0;
  cursor: pointer;
}

.actions :hover {
  scale: 1.2;
}

.inputs {
  background-color: burlywood;
}
