.posts {
  grid-area: data;

  position: relative;

  align-content: center;
  text-align: center;
  margin: 0 auto;
}

.posts ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 75rem;
  padding: 0;
}

.posts li {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
}

.auxContent {
  position: relative;
  top: 10rem;
  text-align: center;
}
