.post {
  align-items: normal;
  justify-items: center;
  overflow: hidden;
  position: relative;
}

.post a {
  text-decoration: none;
  color: inherit;
  display: flex;
  background-color: transparent;
  border-radius: 4px;
  text-align: center;
}

.actions a {
  margin: 1rem;
}

.actions :hover {
  scale: 1.1;
}
