.post {
  height: 10rem;
  width: 10rem;
  align-items: normal;
  justify-items: center;
  overflow: hidden;
}

.post a {
  text-decoration: none;
  color: inherit;
  display: flex;
  background-color: transparent;
  border-radius: 4px;
  text-align: center;
}

.actions a {
  margin: 1rem;
}
