.container {
  grid-area: data;

  position: relative;
  text-align: center;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #434f5f;
  border-radius: 12px;
  min-height: 12rem;
  max-width: 50rem;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.actions :hover {
  scale: 1.2;
  opacity: 0.6;
  transition: scale 0.5s ease-out;
}

.actions button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.actions img {
  object-fit: contain;
  height: 2rem;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-style: italic;
}

.body p {
  padding: 2rem;
  background-color: burlywood;
  min-height: 8rem;
  line-height: 1.4rem;
  border-radius: 12px;
}

.body label {
  font-size: 1.2rem;
  color: coral;
}

.author {
  position: relative;
  font-style: oblique;
  font-size: 1.2rem;
}
.author label {
  color: coral;
}

.author h3 {
  background-color: burlywood;
  border-radius: 12px;
  margin: 0.5rem;
}

@media (max-width: 501px) {
  .inputs {
    min-width: 10rem;
    font-size: 1rem;
  }

  .buttons img {
    height: 1.6rem;
  }

  .container {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    background-color: #434f5f;
    border-radius: 12px;
    min-height: 10rem;
    max-width: 40rem;
  }
}
