.container {
  position: relative;
  align-items: center;
  text-align: center;
  height: 10rem;
  width: inherit;
  left: inherit;
}

.actions {
  margin: 1rem auto;
  list-style: none;
  top: 19rem;
}

.actions li {
  display: inline;
  margin-left: 2rem;
}

.actions li :hover {
  scale: 1.3;
}

.actions button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.author {
  position: relative;
  top: 1rem;
  font-style: oblique;
}
