.welcome {
  grid-area: data;
  max-width: clamp(40rem, 60rem, 100rem);
  list-style: none;
  text-align: center;
  margin: auto;
}

.welcome section {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.welcome a {
  text-align: center;
  text-decoration: none;

  color: inherit;
}

.card {
  text-align: center;
  align-items: center;
  padding: 1.5rem;
  background-color: #434f5f;
  border-radius: 8px;
}
