body {
  font-family: "Ubuntu", Arial;
  background: #2a3038;
  color: coral;
}

main {
  padding-top: clamp(8rem, 9.5rem, 10.5rem);
  padding-bottom: clamp(4rem, 7.5rem, 10rem);
  display: grid;
  grid-template-areas: ". data .";
}
