.card {
  margin: auto;
  margin-left: 2rem;
  padding: 0rem;
  background-color: #434f5f;
  border-radius: 8px;
  color: navajowhite;
  height: fit-content;
  width: fit-content;
  min-width: 10rem;
  min-height: 10rem;
}
