.card {
  position: relative;

  text-align: center;
  align-items: center;
  padding: 1.5rem;
  background-color: #434f5f;
  border-radius: 8px;
  color: navajowhite;
  min-width: 10rem;
  min-height: 10rem;
  top: 8rem;
  margin-top: 2rem;
  margin-left: 3rem;
}
