.card {
  margin: 1rem;
  padding: 0rem;
  background-color: #3b18ca;
  border-radius: 8px;
  color: navajowhite;
  height: fit-content;
  width: fit-content;
}

.card button {
  background-color: rgb(50, 171, 205);
  border-radius: 4px;
  padding: 0;
  height: 1.8rem;
  width: 1.8rem;
  margin-left: 0.5rem;
}
