.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.515);
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
}

.container {
  display: block;
  position: fixed;
  z-index: 1;
  width: fit-content;
  height: fit-content;
  align-items: center;
  left: 45%;
  top: 5rem;
}
